html {
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
            /*background-image: url(/images/background/gray-floral.png);*/

} 

/*body {
    background: fixed url(/images/background/bg-silver2.jpg) repeat;
    background-size: 50%;
}*/
html,
body {
  height: 100%;
}


/*ШАПКА*/

.top-bar {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    height: 50px;
    width: 100%;
    background: #222222;
    border-top: 1px solid #787878;
    border-bottom: 1px solid #787878;
}

.top-bar_wrapper {
    height: inherit;
    width: 960px;
    display: block;
    margin: 0 auto;
    margin-top: -14px;
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    font-size: 14px;
    color: #b7b8b8;
}

.top-bar_list-item a{
    display: block;
    position: relative;
    top: 18px;
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none; 
    cursor: pointer;
}

.top-bar_list-item {
    height: 50px;
    width: 80px;
    list-style: none;
    display: inline-block;
    float: left;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

.top-bar_list-item:hover {
    background: rgba(49, 146, 211, 0.8);
        transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

.top-bar_call-back {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding-right: 20px;
    float: right;
    margin-right: 0;
    margin-top: 8px;
}

.call-back_phone {
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 11px;
}

.call-back_btn  {
  display: inline-block;
background: rgb(41,154,11);
background: -moz-radial-gradient(center, ellipse cover, rgba(41,154,11,1) 0%, rgba(41,154,11,1) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
background: radial-gradient(ellipse at center, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=1 );
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  -o-border-radius: 28px;
  border-radius: 28px;
  box-shadow: 0 0 5px #CDCDCD;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 20px;
  text-decoration: none;
  cursor: pointer;
}

.call-back_btn:hover {
  background: #3FB021;
  text-decoration: none;
  text-shadow: 2px 2px 6px #666666;
  cursor: pointer;
        transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -o-transition: all .6s;
}

/*ЗАГОЛОВОК*/

.header{
    position: relative;
    width: 960px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-top: 50px;
    padding: 20px 20px;
    /*background-color: background: rgb(234,185,45);
background: -moz-linear-gradient(top, rgba(234,185,45,1) 0%, rgba(199,152,16,1) 100%);
background: -webkit-linear-gradient(top, rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
background: linear-gradient(to bottom, rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 );*/
    background-color: #C29B00;
    background-image: url(/images/background/fabric-of-squares.png);
    border-top: 1px solid #787878;
    border-bottom: 1px solid #787878;
    
}

.header-text {
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    font-size: 48px;
    font-family: 'Lobster', helvetica, sans-serif;
    font-weight: 1000;
    color: /*#C79810*/ #F3F3F3/*#FEE4BD*/;
    text-align: center;
    text-shadow: 1px 1px 15px black;
}

.header-text::before {
 position: absolute;
 content: "";     
 top: 11px;
 left: 240px;
 background-image: url(/images/logo-icon/icons-church.png); 
 background-size: contain;
 display: block;  
 height: 80px;  
 width: 80px;  
}
.header-autor {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    text-align: center;
    font: 400 28px 'Lobster', Helvetica, sans-serif;
    color: #EAEAEA;
    text-shadow: 1px 1px 45px yellow;
    margin-bottom: 20px;
}

.header-autor::before {
    content: "" border: 0 2px 2px white
}


/*Контент*/

.content-wrapper {
    width: 998px;
   display: table;
  height: 100%;
    margin: 0 auto;
    background: white;
    border: 1px solid #787878;
}

.content-about,
.content-catalog,
.content-info-block,
.content-howtobuy{
    width: auto;
    height: auto;
    position: relative;
    font-size: 1em;
}

.content-about_h2,
.content-catalog_h2,
.content-info-block_h2,
.content-howtobuy_h2{
background: rgb(30,87,153);
background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
    background-color: darkgreen;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans";
    font-size: 1.5em;
    color: ghostwhite;
}

.content-about_p {
    text-align: left;
    margin: 5px 10px;
    font-family: "Trebuchet MS", "Lucida Sans";
}



/*Каталог*/
.content-catalog_item {
    position: relative;
    display: block;
    width: auto;
    height: 600px;
    border-bottom: solid 1px grey;
}

.content-catalog_item h3 {
    text-align: center;
    font-family: 'Lobster', helvetica, sans-serif;
    font-size: 28px;
    color:#C79810;
}

.content-catalog_item img {
    display: block;
    float: left;
}

.content-catalog_item-menu {
    display: block;
    float: right;
    margin-top: 25px;
    margin-right: 150px;
    height: 450px;
    width: 400px;
    outline: #C29B00 solid 2px;
}

.catalog-menu_material {
    font: 14px 'Helvetica Neue', helvetica, sans-serif; 
    list-style: square;
    margin-left: 100px;
    text-align: left;
    line-height: 25px;
    text-transform: uppercase;
}

.catalog-menu_material:nth-child(1), .catalog-menu_material:nth-child(7) {
    font: bold 15px 'Helvetica Neue', helvetica, sans-serif; 
    list-style: none;
    margin-left: 0;
}

.catalog-menu_material span {
    text-transform: lowercase;
}

.catalog-menu_price {
    font: bold 15px 'Helvetica Neue', helvetica, sans-serif;
    list-style: none;
    text-align: center;
    line-height: 40px;
    margin-left: -50px;
}

.catalog-menu_price .price-big {
    font: italic bold 30px 'Helvetica Neue', helvetica, sans-serif;
    font-weight: 700;
    color: #C79810;
    margin-left: 20px;
    
}

.catalog-menu_btn {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 50px;
    font: 20px 'Helvetica Neue', helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #b48f4f;
    border-radius:4px;
    color: #000;
    background: #F3f3f3;
    cursor: pointer;
    line-height: 50px;
    outline: none;
}

.catalog-menu_btn:hover {
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -o-transition: all .6s;
    background: none;
    background-color: #b48f4f;
    color: white;
}

.content-info-block {
    font-size: 0.9em;
    font-family: "Trebuchet MS", "Lucida Sans";
}

.content-infoblock_text {
    padding-left: 10px;
    text-decoration: underline;
}

.content-infoblock_img {
    margin: 0 auto;
    margin-left: 40%
}

.content-infoblock_list {
          font-family: "Trebuchet MS", "Lucida Sans";
    font-size: 1em;
}

/*Как покупать*/
.content-howtobuy_list li {
        font-family: "Trebuchet MS", "Lucida Sans";
    font-size: 1em;
}

.content {
  display: table-row;
  height: 100%;
}

.content-footer {
      height: 120px;
    width: 100%;
    background-color: #222222;
    color: whitesmoke;
    border: 1px solid #787878;
}

.content-contacts {
    height: 120px;
    width: 998px;
    margin: 0 auto;
}

.content-contacts h4 {
    margin-left: 10px;
}

.content-contacts_list {
    position: relative;
    top: -15px;
 list-style: none;  
}

.content-contacts_list-link {
    font-family: "Trebuchet MS", "Lucida Sans";
    color: #D3D3D3;
    font-size: 0.8em;
}
.content-social-btn {
}
.content-links {
}
